body {
    background-color: #404040;
    color: #dddddd;
    font-family: Georgia, serif;
}

.heading {
    font-size: 40px;
    vertical-align: text-top;
}

a {
    color: #cccccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img:not(.done):not(.dark):hover {
    filter: brightness(0.8);
}

.dark {
    filter: brightness(0.5);
}
